@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Lato:wght@900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media print {
  .titleFont{
    font-size: 16px;
    font-family: ArialMT, Arial;

  } 

  .noPrint{
    display:none;
  }

  .headerFont{
    font-size: 12px;
    font-family: ArialMT, Arial;

  }

  .regularFont{
    font-size: 12px;
    font-family: ArialMT, Arial;

  }

}


@media only screen and (max-width: 1200px) {
  .titleFont{
    font-size: 20px;
    font-family: ArialMT, Arial;

  } 
  .headerFont{
    font-size: 16px;
    font-family: ArialMT, Arial;

  }

  .regularFont{
    font-size: 12px;
    font-family: ArialMT, Arial;

  }
}


@media only screen and (max-width: 600px) {
  .titleFont{
    font-size: 16px;
  } 

  .regularFont{
    font-size: 10px;

  }

  .headerFont{
    font-size: 14px;

  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.linkarrow-1{fill:#0d1f30;stroke:#000;stroke-miterlimit:10;}
.googlecls-1{fill:#ed355d;}.googlecls-1,
    .googlecls-2{stroke:#000;stroke-miterlimit:10;}
    .googlecls-3{fill:#ca4b3a;}
    .googlecls-4{fill:#68a851;}
    .googlecls-5{fill:#607ef4;}
    .googlecls-2{fill:#fff;font-family:Roboto-Bold, Roboto;font-size:82.23px;stroke-width:.5px;}
    .googlecls-6{fill:#e9bf06;}

    .applecls-1,.applecls-2{fill:#fff;}
    .applecls-1,.applecls-2,.applecls-3{stroke-miterlimit:10;}
.applecls-1,.applecls-3{stroke:#333;}
.applecls-2{font-family:Roboto-Bold, Roboto;font-size:82.23px;stroke:#000;}
.applecls-4{letter-spacing:-.02em;}
.applecls-3{fill:#989898;stroke-width:2px;}
.checkbox-1{fill:red;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}
.emptybox-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}
.removeicon-1{fill:red;stroke:#000;stroke-miterlimit:10;}
.generate-1{fill:#0d1f30;stroke:#000;stroke-miterlimit:10;}.generate-2{fill:#fff;font-family:Lato-Bold, Lato;font-size:26.8px;font-weight:700;}.generate-3{letter-spacing:-.07em;}
.saveIcon-1{fill:#0d1f30;stroke:#000;stroke-miterlimit:10;}.saveIcon-2{letter-spacing:-.08em;}.saveIcon-3{fill:#fff;font-family:Lato-Bold, Lato;font-size:39px;font-weight:700;}
.arrowUp-1{fill:#0d1f30;stroke:#000;stroke-miterlimit:10;}
.calculate-1{fill:#0d1f30;stroke:#000;stroke-miterlimit:10;}.calculate-2{fill:#fff;font-family:Lato-Bold, Lato;font-size:30px;font-weight:700;}
.approve-1{fill:#27c476;stroke:#000;stroke-miterlimit:10;}
.spinner-1{fill:#ccc;}.spinner-1,.spinner-2{stroke:#000;stroke-miterlimit:10;}.spinner-2{fill:#666;}
.sendInvite-1{fill:#0d1f30;stroke:#000;stroke-miterlimit:10;}.sendInvite-2{letter-spacing:-.02em;}.sendInvite-3{fill:#fff;font-family:Lato-Bold, Lato;font-size:30px;font-weight:700;}
.dropdownIcon-1{fill:#f2d422;stroke:#000;stroke-miterlimit:10;}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
