@media print {
   .print-adj {
     position:relative;
     top:-50px;
   } 
}
.logdraft-1 {
    text-decoration: underline;
}

.logdraft-1,
.logdraft-2 {
    font-size: 29px;
}

.logdraft-1,
.logdraft-2,
.logdraft-3,
.logdraft-4,
.logdraft-5,
.logdraft-6 {
    font-family: ArialMT, Arial;
}

.logdraft-7 {
    fill: #c1272d;
}

.logdraft-7,
.logdraft-8,
.logdraft-9,
.logdraft-10 {
    stroke-width: 0px;
}

.logdraft-11 {
    letter-spacing: -.07em;
}

.logdraft-12,
.logdraft-13,
.logdraft-14,
.logdraft-4,
.logdraft-15 {
    stroke-miterlimit: 10;
}

.logdraft-12,
.logdraft-13,
.logdraft-14,
.logdraft-15 {
    fill: none;
}

.logdraft-12,
.logdraft-14,
.logdraft-4,
.logdraft-15 {
    stroke: #000;
}

.logdraft-3,
.logdraft-4,
.logdraft-16 {
    font-size: 24px;
}

.logdraft-13 {
    stroke: #030607;
}

.logdraft-14 {
    opacity: .98;
}

.logdraft-9 {
    fill: #035384;
}

.logdraft-4 {
    stroke-width: .5px;
}

.logdraft-10 {
    fill: #4185c5;
}

.logdraft-15 {
    stroke-width: 2px;
}

.logdraft-5 {
    font-size: 30px;
}

.logdraft-17 {
    letter-spacing: -.11em;
}

.logdraft-16 {
    font-family: Arial-BoldMT, Arial;
    font-weight: 700;
}

.logdraft-18 {
    letter-spacing: -.02em;
}

.logdraft-6 {
    font-size: 20px;
}

.logdraft-19 {
    letter-spacing: -.04em;
}

.logdraft-20 {
    letter-spacing: -.06em;
}

.liner-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}